*{
    margin:0;
    padding:0;
    font-weight: 500;
    font-family: 'Josefin';
    color: azure;
}
@font-face {
    font-family: 'Josefin';
    src: url(/assets/Mont.woff2) format('woff2');
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 250px auto;
    grid-template-rows: 100px ;
    position: relative;
}
img{
    filter: brightness(0) invert(1);
    height: 1.25em;
}
.left{
    
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #84fe39;
    display: flex;
    flex-direction: column;
    font-size: 2em;
    align-items: center;
    padding-top: 20px;

    /* height: calc(100vh - 100px);
    position: absolute;
    width: 250px; */
}
.new{
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    position: absolute;
    gap:5px;
    bottom:30px;
}
.header{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: #84fe39;
    font-size: 3em;
    display: flex;
    align-items: center;
    padding-left: 30px;
    
}

.body{
    grid-column: 2/3;
    grid-row: 2/3;
}